Advarics.ControlService.TestClient/Advarics.ControlService.TestClient/Service References/AdvaricsControlService/AdvaricsControlService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Advarics.ControlService.DataContracts.FileTransfer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Advarics.ControlService.DataContracts.FileTransfer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51336/AdvaricsControlService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:51336/AdvaricsControlService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:complexType name="UploadFileRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdToken" type="ser:guid" />
      <xs:element minOccurs="0" name="UpdateOrdner" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UploadFileRequest" nillable="true" type="tns:UploadFileRequest" />
  <xs:complexType name="UploadInfoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Logs" nillable="true" type="tns:ArrayOfLogResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UploadInfoResponse" nillable="true" type="tns:UploadInfoResponse" />
  <xs:complexType name="ArrayOfLogResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LogResponse" nillable="true" type="tns:LogResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLogResponse" nillable="true" type="tns:ArrayOfLogResponse" />
  <xs:complexType name="LogResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Error" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="Exception" nillable="true" type="q1:Exception" />
      <xs:element minOccurs="0" name="Info" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Path" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkerErrorCount" type="xs:int" />
      <xs:element minOccurs="0" name="WorkerStartTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="WorkerSuccessful" type="xs:boolean" />
      <xs:element minOccurs="0" name="workerPackageNo" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogResponse" nillable="true" type="tns:LogResponse" />
  <xs:complexType name="UpdateInfoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Logs" nillable="true" type="tns:ArrayOfLogResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateInfoResponse" nillable="true" type="tns:UpdateInfoResponse" />
</xs:schema>